html {
  background-color: rgb(29, 21, 43);
}

body {
  background: rgb(218,196,114);
  background: linear-gradient(0deg, rgba(218,196,114,1) 0%, rgba(124,73,80,1) 48%, rgba(52,39,70,1) 100%);
  color: #e0e1e2;
  font-family: 'Quicksand', sans-serif;
}

.btn-cta {
  color: #e0e1e2;
  background-color: #ba725c;
  border-color: #ba725c;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: all;
  border-radius: 0;
  outline: none;
}

.btn-cta:hover,
.btn-cta:visited,
.btn-cta:active {
  color: #fff;
  background-color: #c18261;
  border-color: #c18261;
}

.btn > .oi {
  margin-right: 15px;
  font-size: 16px;
}

.title {
  font-family: 'Quicksand', sans-serif;
}

.container {
  max-width: 1280px;
}

.banner {
  min-height: 70vh;
}

.feature {
  background-color: rgb(29, 21, 43);
}

.feature h3 {
  text-align: center;
}

.feature .badge {
  position: absolute;
  top: -30px;
  left: calc(50% - 30px);
  border-radius: 30px;
  font-size: 29px;
  text-align: center;
  border: 2px solid #e0e1e2;
  width: 60px;
  height: 60px;
  background-color: rgb(29, 21, 43);
}

.feature .badge span.oi-location {
  font-size: 23px;
  margin-top: 10px;
  margin-left: -2px;
}

.feature .badge span.oi-sun {
  margin-top: 7px;
}

.feature .badge span.oi-aperture {
  margin-top: 4px;
}

.feature hr {
  border-top: 1px solid #e0e1e2;
  width: 20%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.site-header {
  background-color: rgb(29, 21, 43);
}
.site-header a {
  color: #e0e1e2;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

footer,
footer a,
footer a:hover {
  color: rgb(29, 21, 43);
}